*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
h1{
  font-family: 'Dancing Script', cursive;
}
.carousel-item img{
  width: 100%;
  height: 80vh;
}
.card-body img{
  width: 50%;
  max-height: 200px;
}
/* .back-to-top{
  width: 100%;
  height: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
} */
.to-top{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
  font-size: 16px;
  text-decoration: none;
  opacity: 0;
  transition: all .4s;
}

.to-top.active{
  bottom: 40px;
  pointer-events: auto;
  opacity: 1;
}